.filters {
    $block-name:                &;

        width: 242px;
        padding: 20px;
        // outline: 1px dotted pink;
        border: 1px solid var( --light-text-color);
        margin-bottom: 20px;
        margin-top: 20px;
        border-radius: 20px;


    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: column;
        justify-content: space-between;
        // align-items: center;
        // margin-bottom: 20px;
    }

    &__item {
        margin-bottom: 40px;
    }

    &__price-wrap {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    &__price-wrap .field-num__input-and-btns {
        width: 70px!important;
    }

    &__price-wrap .field-num__input {
        width: 70px;
        padding: 0;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }

    &__price-wrap .field-num__btn {
        width: 20px;
    }
    
    &__title {
        margin: 0;
        margin-bottom: 40px;
        color: var(--primary-dark-color);
        font-family: $font-family;
        font-family: Manrope;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 36px; /* 200% */
    }

}