.product-list {
    $block-name:                &;

    
    &__inner {
        @include row;
        flex-wrap: nowrap;
        justify-content: space-around;
        /* height: 120vh; */
        align-items: flex-start;
    }

    &__goods-inner {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        margin-top: 20px;
        margin-left: 20px;
    }
    
    &__title {
        margin-top: 20px;
        margin-bottom: 20px;
        color: var(--secondary-color);
        font-family: $font-family--secondary;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    &__settings {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: space-around;
        gap: 10px;
    }

    &__selected-filter {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
    }

    &__reset-filter {
        padding: 6px 10px;
        color: #000;
        background: $white;
        border-radius: 20px;
        border: 1px solid $black;
        text-align: center;
        font-family: $font-family--secondary;
        font-size: 10px;
        font-style: normal;
        font-weight: 700;
        line-height: 16px;
    }

    &__filter {
        flex-basis: 242px;
    }

    &__filter-item {
        // padding: 0.3em 0.6em;
        padding: 6px 10px;
        display: flex;
        align-items: baseline;
        gap: 5px;
        // outline: 1px solid var(--secondary-color);
        background: var(--arrow-slider-button-color);
        border-radius: 4px;
        color: #000;
        text-align: center;
        font-feature-settings: 'liga' off, 'clig' off;
        font-family: Manro$font-family;
        font-size: 10px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px;
    }


    &__item-wrap {
        margin-top: 20px;
        @include row;
        flex-basis: calc(100% - 242px);
        flex-grow: 2;
    }

    &__view {
        display: flex;
        gap: 10px;
    }

    &__label {
        color: var(--arrow-slider-color);
        font-family: $font-family;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    &__button {
        display: flex;
        padding: 0.6em;
        border: 1px solid var(--arrow-slider-button-border-color);
        border-radius: 4px;
        cursor: pointer;
        font-family: $font-family--secondary;
        font-size: 12px;
        font-weight: bold;
        transition: background-color 0.3s;
        border: 1px solid var(--arrow-slider-color);
        border-radius: 5px;
        
        &:hover {
            background-color: var(--secondary-color);
        }


        // &:active {
        //     background-color: darken(var(--secondary-color), 10%);
        // }
    }

    &__button--active {
        border: 1px solid var(--secondary-color);
    }

    & .card__inner {
        align-items: start;
    }
}