.product-list {
    $block-name:                &;

    
    &__inner {
        @include row;
        flex-wrap: nowrap;
        justify-content: space-around;
        /* height: 120vh; */
        align-items: flex-start;
    }
    
    &__title {
        margin-top: 20px;
        margin-bottom: 20px;
        color: var( --secondary-color);
        font-family: $font-family--secondary;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    &__settings {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: space-around;
    }

    &__selected-filter {
        display: flex;
    }

    &__filter {
        flex-basis: 242px;
    }

    &__item-wrap {
        margin-top: 20px;
        @include row;
        flex-basis: calc(100% - 242px);
    }
}