.embla {
    overflow: hidden;
  }

.embla__container {
    display: flex;
}

.embla__slide {
    flex: 0 0 100%;
    min-width: 0;
}

.embla {
    overflow: hidden;
    width: 100%;
}
  
.embla__slide {
    width: 100%;
    flex-shrink: 0;
    text-align: center;
}

.embla--second .embla__container {
    display: none;
}

@media (min-width: $screen-md) {
    .embla--second .embla__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .embla--second .embla__slide {
        box-sizing: border-box;
        flex-basis: 330px;
        flex-shrink: 0!important;
    }

    // .embla--second .embla__slide:nth-last-child(odd)   {
    //    margin-right: 30px; 
    // }
}

.embla .embla--second {
    width: 100%;
}

@media (min-width: $screen-lg) {
    .embla .embla--second {
        width: 416px;
    }

    .embla--second .embla__container {
        flex-direction: column;
        width: 416px;
        height: auto;
    }

    .embla--second .embla__slide {
        flex-basis: 0;
    }
}


.embla--second .embla__slide {
    flex-shrink: 1;
}


.embla__dots {
    display: flex;
    justify-content: center;
    align-items: center;
    // margin-top: 20px;
  }


// crutch 

  .embla--second  .embla__dots {
    display: none;
} 

// crutch

.embla__dot {
    width: 20px;
    height: 8px;
    margin: 0 5px;
    border-radius: 20px;
    background-color: #E2E2E2;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .embla__dot.is-selected {
    width: 42px;
    background-color: #22BC3E;
  }
  
  .embla__dot:hover {
    background-color: #22BC3E;
    opacity: 0.5;
  }

  .embla__nav {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

.embla__prev {
    cursor: pointer;
    border: none;
    width: 8px;
    height: 14px;
    background-color: #fff;
    background-image: url(../img/left-arrow.svg);
    background-repeat: no-repeat;
    background-position: center center;
}

.embla__next {
    cursor: pointer;
    border: none;
    width: 8px;
    height: 14px;
    background-color: #fff;
    background-image: url(../img/right-arrow.svg);
    background-repeat: no-repeat;
    background-position: center center;
}

  