.main-content__inner {
    margin-top: 20px;
    outline: 1px dotted red;
    @include container;
}

.new-product__inner {
    margin-top: 20px;
    @include row;
    margin-left: 0;
    margin-right: 0;
}

.new-product__title, .top-product__title, .top-video__title  {
    text-align: center;
    font-family: $font-family--secondary;
    color: var(--secondary-color);
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.new-product__title {
    margin-top: 20px!important;
}

.top-product__title, .top-video__title {
    margin-top: 0!important;
}

.top-video {
    display: block;
    position: relative;
}

.top-video__inner {
    height: 470px;
    background: var(--background-video-color);
    border-radius: 10px;
}

.top-video__title {
    position: relative; /* кнопка с position: relative */
    top: 35px;
    left: 50%;
    transform: translate(-50%);
    padding-left: 85px;
    padding-right: 85px;
    padding-left: 85px;
    padding-right: 85px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 50px;
    border: 8px solid #FFF;
    color: var(--secondary-color);
    text-align: center;
    font-family: $font-family--secondary;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: var(--background-video-color);
}