.main-content__inner {
    margin-top: 20px;
    outline: 1px dotted red;
    @include container;
}

.new-product__inner {
    margin-top: 20px;
    @include row;
    margin-left: 0;
    margin-right: 0;
}

.new-product__title, .top-product__title, .top-video__title  {
    text-align: center;
    font-family: $font-family--secondary;
    color: var(--secondary-color);
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.new-product__title {
    margin-top: 20px!important;
}

.top-product__title, .top-video__title {
    margin-top: 0!important;
}